<div class="row post">
    <a class="new_post" routerLink="comment">New comment</a>
</div>
<div class="all_post">

<div *ngFor="let post of newPost">
    <div class="row post">
        <div class="col-3 col-sm-2">
            <img class="img-round" src="{{imgUrl}}" popoverTitle="Image" ngbPopover="{{imgUrl}}">
        </div>
        <div class="col-9 col-sm-10">
            <div class="row">
                <div class="col-7 col-sm-6"><strong>Name</strong></div>
                <div class="col-5 col-sm-6 text-right"><p class="text-muted">{{post.time}}</p></div>
            </div>
            {{post.comment}}
            <img class="img-sea" src="{{post.image}}">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
    <div class="row post">
        <div class="col-3 col-sm-2">
            <img class="img-round" src="{{AVATAR_FAT}}" popoverTitle="Image" ngbPopover="{{AVATAR_FAT}}">
        </div>
        <div class="col-9 col-sm-10">
            <div class="row">
                <div class="col-7 col-sm-6"><strong>Name</strong></div>
                <div class="col-5 col-sm-6 text-right"><p class="text-muted">28 min</p></div>
            </div>
            Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters.
        </div>
    </div>
    <div class="row post">
        <div class="col-3 col-sm-2">
            <img class="img-round" src="{{AVATAR_MDO}}" ngbPopover="{{AVATAR_MDO}}" popoverTitle="Image">
        </div>
        <div class="col-9 col-sm-10">
            <div class="row">
                <div class="col-8 col-sm-6"><strong>Name</strong></div>
                <div class="col-4 col-sm-6 text-right"><p class="text-muted">1 day</p></div>
            </div>
            Text messaging, texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters.
            <img class="img-sea" src="{{SEA_IMG}}">
        </div>
    </div>

    <div class="row post">
        <div class="col-3 col-sm-2">
            <img class="img-round" src="{{AVATAR_MDO}}" ngbPopover="{{AVATAR_FAT}}" popoverTitle="Image">
        </div>
        <div class="col-9 col-sm-10">
            <div class="row">
                <div class="col-8 col-sm-6"><strong>Name</strong></div>
                <div class="col-4 col-sm-6 text-right"><p class="text-muted">1 day</p></div>
            </div>
            Text messaging, texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters.
        </div>

    </div>
</div>
