.login {
background: #fff;
margin-top: 20%;
}

.left-navbar {
    height: 100vh;
    background-color: #f8f9fa;
    border-color: #ddd;
    text-align: center;
}

.validDetail {
    margin-top: 10px;
}
