<nav class="navbar navbar-expand-lg navbar-light navbar-style">
  <a class="navbar-brand" [routerLink]="!isLoggedIn ? '/home' : '/profile'"><img src="./assets/images/logo.png"></a>
  <button class="navbar-light navbar-toggler btn-collapse nav-collapse" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
        <li *ngIf="!isLoggedIn" class="nav-item list-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item list-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item list-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
    </ul>
    <div class="ml-auto bell-right">
        <form class="form-inline search-form">
            <input type="text" class="form-control" placeholder="Search">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </form>
    </div>
    <div class="logout" *ngIf="isLoggedIn">
        <img src="{{imgUrl}}" class="header-profile list-item">
        <a><i class="fa fa-power-off logout-btn" (click)="logout()"> </i></a>
    </div>
  </div>
</nav>
