.background-img {
    height: 100%;
    width: 100%;
}
@media screen and(max-width:420px)  {
    .profile_img {
        width: 116px;
        height: 81px;
        top: -32px!important;
    }
}
@media screen and (max-width:1025px) and (min-width:450px) {
    .profile_img {
        top: -25px!important;
    }
}
.profile_img {
    border-radius: 50%;
    top: -51px;
    .img-round {
        border-radius: 50%;
    }
}
.align-para {
    padding: 0px 10px;
}
.photos {
    margin-top: 20px;
}
