<img  src="https://bootstrap-themes.github.io/application/assets/img/iceland.jpg" class="background-img">
<div class="row">
    <div class="col-xs-4 col-sm-4 ml-auto mr-auto profile_img">
         <img class="img-round background-img" src="{{imgUrl}}">
     </div>
 </div>
<h4 class="text-center">{{firstName}} {{lastName}}</h4>
<p class="text-center">{{gender}}</p>
<p class="text-center"> Age {{age}} </p>
<p class="text-center">Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters.</p>
<div class="row">
    <div class="col-sm-6 ml-auto mr-auto text-center">
        <p>Friends</p>
        <p>1</p>
    </div>
    <div class="col-sm-6 ml-auto mr-auto text-center">
        <p>Enemies</p>
        <p>91</p>
    </div>
</div>
