body {
    background: rgba(238,238,238,1);
}
header {
    text-align: center;
}
.card {
    border: 1px solid #fff;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 50px;
    border-radius:1px solid;
    .content {
        .form-validate .form-group {
            padding: 10px;
            margin: 25px;
        }
        .btn {
            margin: 20px 37px;
        }
    }
        .form-control {
            color: grey;
        }
        .error {
            color: rgba(3, 169, 244, 0.43);
            font-size: 15px;
            font-family: serif;
        }
        .form-group input.error, .form-validate .form-group textarea.error {
            border-color: red !important;
        }
}
