<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book-search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../js/book-search.js"></script>
	<link rel="import" href="header.html">
	<link href="../../assets/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class"row">
			<div class="col-lg-offset-6 col-sm-offset-6">
				<div class="input-group">
					<input type="text" class="form-control" id="search" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
			</div>
		</div>
	</header>
	<section>
	</section>
	<footer>
		<div class="row">
			<button class="btn btn-primary" id="previous">Previous</button>
			<button class="btn btn-primary" id="next">Next</button>
		</div>
	</footer>
</body>
</html>
