<header>
    <div class="col-sm-8 col-xs-6">
        <div class="logo">
            <img src="../../assets/images/logo.png">
        </div>
    </div>
    <div class="col-sm-4 col-xs-6">
        <nav class="navbar">
            <ul class="menu">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
                <li><a href="#"><i class="fa fa-comments"></i></a></li>
                <li class="dropdown-menu">
                    <div class="col-sm-1">
                        <img src="../../assets/images/logout.png" class="logout-img">
                    </div>
                    <a href="#" id="logout"> John Doe<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-list">
                        <li><i class="fa fa-user"></i>Profile</li>
                        <li><i class="fa fa-sign-out"></i>Logout</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="#" id="nav-btn"><i class="fa fa-bars" id="navbar-collapse" aria-hidden="true"></i></a>
    </div>
</header>
<!-- <script src="../../js/lodash.js"></script> -->
