<div class="container-fluid profile">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-11 ml-auto card card-left">
                <app-about></app-about>
            </div>
            <div class="col-sm-11 ml-auto card photos-left">
                <app-photos></app-photos>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12 card">
                <app-post></app-post>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12">
                <app-sponsers></app-sponsers>
            </div>
        </div>
    </div>
</div>
