<div class="col-sm-4 ml-auto mr-auto">
    <div class="card ">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="word">
            </div>
            <div class="col-sm-2">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <select class="form-control" [(ngModel)]="language">
                    <option>English</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" (click)="getData()">Search</button>
    </div>
</div>
