.calcontainer .calendar {
  border: 1px solid;
  margin: 0px 25%;
}
.calcontainer .calendar h1 {
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid grey;
}
.calcontainer .calendar p {
  text-align: center;
}
.calcontainer .calendar .header {
  height: 60px;
}
.calcontainer .calendar .header .btn-previous {
  float: left;
}
.calcontainer .calendar .header .btn-next {
  float: right;
}
.calcontainer .calendar .header p {
  text-align: center;
  float: left;
  width: 90%;
}
.calcontainer .calendar table tr,
.calcontainer .calendar tbody tr {
  width: 500px;
}
.calcontainer .calendar table tr td,
.calcontainer .calendar tbody tr td {
  border: 1px solid blue;
  width: 96px;
  text-align: center;
  height: 80px;
  border-radius: 3px;
  box-shadow: 1px 8px 4px #888888;
}
.calcontainer .calendar .nextmonth,
.calcontainer .calendar .previousmonth,
.calcontainer .calendar .days {
  background: rgba(128, 128, 128, 0.15);
}
