.container .stack {
  padding: 20px;
}
.container p {
  text-align: center;
}
.container span {
  padding: 0px 10px;
}
.container .stackdisplay {
  margin: 2% 43%;
}
.container .stackdisplay .displaypushstack {
  float: left;
}
.container .stackdisplay .displaypopstack {
  float: right;
}
