<div class="card col-sm-10 ml-auto mr-auto">
    <div class="contact_us">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="contact-text">Contact Us</h2>
                <p>Like many businesses out there, Achieve3000 has a lot of different types of people visiting their and what these people want to contact them about can vary widely. That's why they've decided to go deeper than the one-size-fits-all approach.
                </p>
                <p>Like many businesses out there, Achieve3000 has a lot of different types of people visiting their.</p>
                <div class="row">
                    <div class="col-sm-5 ml-1 mr-1">
                        <div class="form-group">
                            <label class="required-label">Name : </label><input class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-5 ml-auto mr-1">
                        <div class="form-group">
                            <label class="required-label">E-mail : </label>
                            <input class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  mr-1 ml-1">
                        <div class="form-group">
                            <label class="required-label">Message : </label>
                        <textarea class="form-control" placeholder="Enter comment"></textarea>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 ml-1 mr-1">
                        <div class="form-group">
                        <label class="required-label">How much is 1 + 1 : </label><input class="form-control"/>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-2 ml-auto">
                <button class="btn btn-danger send">Send</button>
            </div>
            </div>
            </div>

            <div class="col-sm-3 bg-image">
                <div class="email">
                    <strong class="text-strong">Email</strong>
                    <p>jobs@newput.com</p>
                </div>
                <div class="telephone">
                    <strong class="text-strong">telephone</strong>
                    <p>+91- 90398-90878 </p>
                </div>
                <div class="skype">
                    <strong class="text-strong">Skype</strong>
                    <p>Skype account </p>
                </div>
                <div class="address">
                    <strong class="text-strong">Address</strong>
                    <p>DM Tower, 314, 21/1</p>
                    <p>Race Course Road</p>
                    <p>Indore, Madhya Pradesh</p>
                    <p>452001</p>
                </div>
                <div class="image">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="../../assets/images/fb.png">
                        </div>
                        <div class="col-sm-2">
                            <img src="../../assets/images/twitter.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
