<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assignment1</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/Users/gurpreetchhabra/Documents/Assignment1/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
      <div class="container-fluid content">
          <header>
            <nav class="navbar navbar-default nav-background">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <div class="icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </button>
                        <div class="logo">
                            <a class="navbar-brand logo" href="#">WebSiteName</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="nav-link" href="#">About <span class="sr-only">(current)</span></a></li>
                            <li><a class="nav-link" href="#">Service</a></li>
                            <li><a class="nav-link" href="#">Portfolio</a></li>
                            <li><a class="nav-link" href="#">Pricing</a></li>
                            <li><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="banner banner-name">
            <h1>Company</h1>
            <h4>We specialize in Designing</h4>
            <div class="banner-search">
                <div class="row">
                    <div class="col-sm-offset-2 col-md-offset-4 search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Subscribe!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="row">
                <div class="col-sm-8">
                    <div class="left">
                        <h1>About the company</h1>
                        <p>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. But it's that last part that's crucial to making inbound marketing work for your business.
                        For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world. Easy, right? Of course it's not easy. That said, the "About Us" page is one of the most important pages on your website, and it can't go neglected. It also happens to be one of the most commonly overlooked pages, which is why you should make it stand out.</p>
                        <button class="btn btn-secondary" type="button">Get In Touch</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="right">
                        <i class="fa fa-bar-chart" style="font-size:108px;color:red"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="value">
            <div class="row">
                <div class="col-sm-4">
                    <div class="left">
                        <i class="fa fa-globe" style="font-size:108px;color:red"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="left">
                        <h2>OUR VALUES</h2>
                        <p>
                            <b>Mission :</b>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. But it's that last part that's crucial to making inbound marketing work for your business.
                        </p>
                        <p>
                            <b>Vission :</b>For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world. Easy, right? Of course it's not easy. That said, the "About Us" page is one of the most important pages on your website, and it can't go neglected. It also happens to be one of the most commonly overlooked pages, which is why you should make it stand out.</p>
                        </p>
                    <div>
                </div>
            </div>
        </section>
        <section class="service">
            <h2>SERVICES</h2>
            <p>What we offer !</p>
            <div class="row">
                <div class="col-sm-4"><span class="fa fa-power-off"></span><h4>Power</h4><p> Some text here!</p></div>
                <div class="col-sm-4"><span class="fa fa-heart"></span><h4>Love</h4><p> Some text here!</p></div>
                <div class="col-sm-4"><span class="fa fa-lock"></span><h4>Job Done</h4><p> Some text here!</p></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><span class="fa fa-leaf"></span><h4></h4><p></p></div>
                <div class="col-sm-4"><span class="fa fa-sun-o"></span><h4></h4><p></p></div>
                <div class="col-sm-4"><span class="fa fa-wrench"></span><h4></h4><p></p></div>
            </div>
        </section>
        <section class="portfolio">
            <h2>Portfolio</h2>
            <h4>What we have created!</h4>
            <div class="row">
                <div class="col-sm-4"><img src="/Users/gurpreetchhabra/Documents/Assignment1/assets/images/newyork.jpg" class="img-fluid"></div>
                <div class="col-sm-4"><img src="/Users/gurpreetchhabra/Documents/Assignment1/assets/images/paris.jpg" class="img-fluid"></div>
                <div class="col-sm-4"><img src="/Users/gurpreetchhabra/Documents/Assignment1/assets/images/sanfran.jpg" class="img-fluid"></div>
            </div>
            <h4>Whatever our customer say ..</h4>
            <div class="row">
                <div class="col-sm-6">Some text here</div>
            </div>
        </section>
        <section class="pricing">
            <h2>PRICING</h2>
            <p>Choose a payment plan that works for you.</p>
            <div class="row">
                <div class="col-sm-4">
                    <ul>
                        <li>50 $</li>
                        <li>50 $</li>
                        <li>50 $</li>
                        <hr>
                        <p>Total</p>
                        <p class="sm1">per month</p>
                        <div class="col-sm-offset-4">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>50 $</li>
                        <li>50 $</li>
                        <li>50 $</li>
                        <hr>
                        <p>Total</p>
                        <p class="sm1">per month</p>
                        <div class="col-sm-offset-4">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>50 $</li>
                        <li>50 $</li>
                        <li>50 $</li>
                        <hr>
                        <p>Total</p>
                        <p class="sm1">per month</p>
                        <div class="col-sm-offset-2 col-md-offset-4">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <p>© Copyright <a href="#">2017</a></p>
        </footer>
      </div>
  </body>
</html>
